<nav
  id="main-navbar"
  class="navbar  navbar-expand-lg position-sticky top-0 w-100 navbar-light "
  dir="rtl"
  *ngIf="currentLang==='ar'"
>
  <div class="container p-0">
    <a class="navbar-brand py-0 m-0" routerLinkActive="active" routerLink="/">
      <img
        src="../../assets/logo/logo1.png"
        alt="ازهلها"
        class="nav-logo"
      />
    </a>
    <button
      class="navbar-toggler border-0 shadow-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarNavDropdown"
    >
      <ul class="navbar-nav d align-items-center justify-content-center">
        <li class="nav-item">
          <a
            class="nav-link px-0 mx-4"
            aria-current="page"
            routerLinkActive="active"
            routerLink="/home"
            >الرئيسية</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link px-0 mx-4"
            routerLinkActive="active"
            routerLink="/services"
            >خدماتنا</a
          >

        </li>
        <li class="nav-item">
          <a
            class="nav-link px-0 mx-4"
            routerLinkActive="active"
            routerLink="/aboutUs"
            >عن الشركه</a
          >

        </li>
        <li class="nav-item">
          <button class="lang-btn border-0" (click)="changeLang()">
            En
          </button>
        </li>

        <li class="nav-item contact-link">
          <a
            class="nav-link px-0 mx-4"
            href="mailto:ezhalha@ezhalha.com.kw"
            >تواصل معنا</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<nav
  id="main-navbar"
  class="navbar  navbar-expand-lg position-sticky top-0 w-100 navbar-light "
  dir="ltr"
  *ngIf="currentLang==='en'"
>
  <div class="container p-0">
    <a class="navbar-brand py-0 m-0" routerLinkActive="active" routerLink="/">
      <img
        src="../../assets/logo/logo1.png"
        alt="ازهلها"
        class="nav-logo"
      />
    </a>
    <button
      class="navbar-toggler border-0 shadow-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarNavDropdown"
    >
      <ul class="navbar-nav d align-items-center justify-content-center">
        <li class="nav-item">
          <a
            class="nav-link px-0 mx-4"
            aria-current="page"
            routerLinkActive="active"
            routerLink="/home"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link px-0 mx-4"
            routerLinkActive="active"
            routerLink="/services"
            >Our Services</a
          >

        </li>
        <li class="nav-item">
          <a
            class="nav-link px-0 mx-4"
            routerLinkActive="active"
            routerLink="/aboutUs"
            >About Us</a
          >

        </li>
        <li class="nav-item">
          <button class="lang-btn border-0" (click)="changeLang()">
            Ar
          </button>
        </li>

        <li class="nav-item contact-link">
          <a
            class="nav-link px-0 mx-4"
            href="mailto:ezhalha@ezhalha.com.kw"
            >Contact Us</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
