<div class="pink-bg py-4"  *ngIf="currentLang==='ar'">
<div class="container">
  <div class="row justify-content-between">
    <div class="col-12 col-md-6 col-xl-4">
      <img src="../../assets/logo/logo1.png">
      <p class="footer-text my-3">شركه كويتية متخصصة في إدارة مراكز الاتصال بكل وحداتة من موظفين و إدارة بأنظمة و باحترافية عالية و سعر متميز </p>
      <div class="social-icons mt-4">
        <a target="_blank" class="ms-3" href="https://www.instagram.com/ezhalha.kwt/"><img src="../../assets/social/instagram.svg" alt=""></a>
        <!-- <a target="_blank" class="ms-3" href=""><img src="../../assets/social/linkedin.png" alt=""></a>
        <a target="_blank" class="ms-3" href=""><img src="../../assets/social/twitter.svg" alt=""></a>
        <a target="_blank" class="ms-3" href=""><img src="../../assets/social/facebook.svg" alt=""></a> -->
      </div>
    </div>
    <div class="col-12 col-md-6 col-xl-4">
      <p class="footer-heading my-4">
        تواصل معنا
      </p>
      <a target="_blank" class="footer-link mb-3" href="tel:+96566764136">Tel: +96566764136</a>
      <a target="_blank" class="footer-link mb-3" href="https://wa.me/96560666250">WhatsApp: +96560666250</a>
      <a target="_blank" class="footer-link mb-3" href="https://goo.gl/maps/Ds4wKrqorihzoSgh6">QIBLA BLOCK8 PLOT 000J3 UNIT11 FLOOR 2 ST ALMUBARAKIYA KUWAIT</a>
      <a target="_blank" class="footer-link mb-3" href="mailto:ezhalha@ezhalha.com.kw">mailto:ezhalha@ezhalha.com.kw</a>
    </div>
  </div>
  <p class=" small-text">جميع الحقوق @2023 محفوظة</p>

</div>
</div>
<div class="pink-bg py-4"  *ngIf="currentLang==='en'" dir="ltr">
<div class="container">
  <div class="row justify-content-between">
    <div class="col-12 col-md-6 col-xl-4">
      <img src="../../assets/logo/logo1.png">
      <p class="footer-text my-3">
        A Kuwaiti company specialized in the management of call centers with each unit of employees and management systems, with high professionalism and a distinguished price.
      </p>
      <div class="social-icons mt-4">
        <a target="_blank" class="ms-3" href="https://www.instagram.com/ezhalha.kwt/"><img src="../../assets/social/instagram.svg" alt=""></a>
        <!-- <a target="_blank" class="ms-3" href=""><img src="../../assets/social/linkedin.png" alt=""></a>
        <a target="_blank" class="ms-3" href=""><img src="../../assets/social/twitter.svg" alt=""></a>
        <a target="_blank" class="ms-3" href=""><img src="../../assets/social/facebook.svg" alt=""></a> -->
      </div>
    </div>
    <div class="col-12 col-md-6 col-xl-4">
      <p class="footer-heading my-4">
        Contact Us
      </p>
      <a target="_blank" class="footer-link mb-3" href="tel:+96566764136">Tel: +96566764136</a>
      <a target="_blank" class="footer-link mb-3" href="https://wa.me/96560666250">WhatsApp: +96560666250</a>
      <a target="_blank" class="footer-link mb-3" href="https://goo.gl/maps/Ds4wKrqorihzoSgh6">QIBLA BLOCK8 PLOT 000J3 UNIT11 FLOOR 2 ST ALMUBARAKIYA KUWAIT</a>
      <a target="_blank" class="footer-link mb-3" href="mailto:ezhalha@ezhalha.com.kw">mailto:ezhalha@ezhalha.com.kw</a>
    </div>
  </div>
  <p class=" small-text">All Rights Reserved @2023 </p>

</div>
</div>
