@import url('../app.component.scss');

.footer-text{
  font-size: 22px;
  @media only screen and (max-width:772px){
   font-size: 20px;
  }
}
.small-text{
  font-size: 14px;
  @media only screen and (max-width:772px){
    font-size: 12px;
  }
}
.footer-heading{
  font-size: 18px;
  color: #ff0000;
}
.footer-link{
  color: #220000;
  font-size: 18px;
  text-decoration: none;
  display: block;
}
