<div class="hero-section">

</div>
<section class="about" *ngIf="currentLang==='ar'">
  <div class="container">
  <h2 class="section-header my-4">
    قيمنا
  </h2 >
  <p class="about-text text-center">
    عندما بدانا بشركه ازهلها في 2019 ونحن نعلم ما يمكننا تقديمه للعميل احسن حل لخدمه العملاء واداره المشروعات بافضل سعر لم نكن بحاجة إلى كتابة أي منها على أنها قيم رسمية لشركتنا لقد تصرفناعلى اساسهما للتتماشى مع تلك المبادئ
  </p>

  <h2 class="section-header my-4">
    مهمتنا
  </h2 >
  <p class="about-text text-center">
    مهمتنا العليا هي رفع مستوى (خدمة العملاء) وإدارة المشاريع في الكويت وحول العالم من خلال تقديم أفضل حل لقضيتك بأفضل سعر ، كما نقوم بتطوير الحلول الذكية التي تخدم هذه المهمة.
  </p>

  <h2 class="section-header my-4">
    رؤيتنا
  </h2 >
  <p class="about-text text-center">
    ان نصبح الوجهة الأولى للشركات والمؤسسات الحكومية والخاصة التي تسعى إلى تطوير خدمات العملاء وإبراز إدارتها بأفضل طريقة كما نتعهد بتقديم كل ما هو ضروري في سعينا لتطوير خدمات "خدمة العملاء" من خلال حلول شاملة ومتميزة للنمو علامتك التجارية
  </p>



</div>
</section>
<section class="about " *ngIf="currentLang==='en'" dir="ltr">
  <div class="container">
  <h2 class="section-header my-4">
    Our Value
  </h2 >
  <p class="about-text text-center">
    When we started Ezhalha in 2019 and we know what we can serve for customers: the best solutions of customer services and management project with the best price. We didn’t need to write any of it down as our official company value we just acted in line with those principles
  </p>

  <h2 class="section-header my-4">
    Our Mission
  </h2 >
  <p class="about-text text-center">
    Our supreme mission is to raise the level of (customer service) and project management in Kuwait and around the world by providing the best solution for your case with the best price We are also developing smart solutions that serve that mission.
  </p>

  <h2 class="section-header my-4">
    Our vision
  </h2 >
  <p class="about-text text-center">
    To became the first destination for governmental and private companies and institutions that seek to develop customer services and project their management with the best way .we also pledge to provide everything necessary in our endeavor to develop “customer service” services through comprehensive and distinguished solutions to grow up your brand
  </p>



</div>
</section>
