<section class="hero-section " *ngIf="currentLang === 'ar'">
  <div class="hero-layer d-flex">
    <div class="hero-text-container m-auto">
      <p class="text-white hero-text m-0">
        شركه كويتية متخصصة في إدارة مراكز الاتصال بكل وحداتة من موظفين و إدارة بأنظمة و باحترافية عالية و سعر متميز
      </p>
      <p class="yellow-text hero-text mb-4">
        نقدم احسن جوده باقل تكلفه
      </p>
      <button class="service-brn" routerLink="/services">
        رؤية خدماتنا
      </button>
    </div>
  </div>
</section>
<section class="why-us-section" *ngIf="currentLang === 'ar'">
  <div class="why-us py-4">
    <h2 class="section-header my-4">
      لماذا تتعاقد معنا
    </h2 >
    <p class="why-us-text my-3">
      قادرون علي اداره جميع المشروعات المبتدئة باعلي جودة و اقل التكاليف
    </p>
    <div class="why-us-points pink-bg text-center py-3 mt-5">
      <p class="why-us-point why-us-text"><img class="ms-2" src="../../assets/shared/dot.svg"/>مراقبة الأداء والالتزام للموظفين</p>
      <p class="why-us-point why-us-text"><img class="ms-2" src="../../assets/shared/dot.svg"/>تقديم تقارير عن جودة الموظفين وسير العمل</p>
      <p class="why-us-point why-us-text"><img class="ms-2" src="../../assets/shared/dot.svg"/> جلسات تدريب فردية</p>
      <p class="why-us-point why-us-text"><img class="ms-2" src="../../assets/shared/dot.svg"/>سماع المكالمات وتقييم الأداء</p>
    </div>
  </div>
  <button class="service-brn d-block mx-auto mb-4" routerLink="/services">
    رؤية خدماتنا
  </button>
</section>
<section dir="ltr" class="hero-section " *ngIf="currentLang === 'en'">
  <div class="hero-layer d-flex">
    <div class="hero-text-container m-auto">
      <p class="text-white hero-text m-0">
        A Kuwaiti company specialized in the management of call centers with each unit of employees and management systems, with high professionalism and a distinguished price.      </p>
      <p class="yellow-text hero-text mb-4">
        We offer the best quality at the lowest cost      </p>
      <button class="service-brn" routerLink="/services">
        Our Services
      </button>
    </div>
  </div>
</section>
<section dir="ltr" class="why-us-section" *ngIf="currentLang === 'en'">
  <div class="why-us py-4">
    <h2 class="section-header my-4">
      Why Us
    </h2 >
    <p class="why-us-text my-3">
      They are able to manage all start-up projects with the highest quality and lowest costs
    </p>
    <div class="why-us-points pink-bg text-center py-3 mt-5">
      <p class="why-us-point why-us-text"><img class="ms-2" src="../../assets/shared/dot.svg"/>Monitor the performance and commitment of employees</p>
      <p class="why-us-point why-us-text"><img class="ms-2" src="../../assets/shared/dot.svg"/>Provide reports on staff quality and workflow</p>
      <p class="why-us-point why-us-text"><img class="ms-2" src="../../assets/shared/dot.svg"/> Individual coaching sessions</p>
      <p class="why-us-point why-us-text"><img class="ms-2" src="../../assets/shared/dot.svg"/>Hear calls and evaluate performance</p>
    </div>
  </div>
  <button class="service-brn d-block mx-auto mb-4" routerLink="/services">
    Our Services
  </button>
</section>
