<div class="hero-section">

</div>
<section class="our-services " *ngIf="currentLang === 'ar'">
  <div class="container">
  <h2 class="section-header my-4">
    خدماتنا
  </h2 >
<p class="services-text text-center">
  <img src="../../assets/shared/dot.svg">
  موظفونا علي اعلي كفاءه و جوده مكنك الاعتماد علينا في تواصل العملاء معك حيث تقدم الشركة خدمات متكاملة طوال الأسبوع وعلى مدار٢٤ ساعة.
</p>
<p class="services-text text-center">
  <img src="../../assets/shared/dot.svg">
  خدمة توفير الموظفين والانظمة المناسبه لكافه الاعمال
شك أنك تواجه هذه المشكلات وأكثر في شركتك، لكن خدماتنا فيEzhalha  ستساعدك على تفاديها بالكامل.
</p>

<div class="row mt-lg-5 mt-3 py-lg-5 py-3">
  <div class="col-12 py-2 py-lg-4 px-3 col-md-6 d-flex align-items-center">
    <img class="ms-4" src="../../assets/shared/rect.svg">
    <p class="services-text-big">
      قادرين نوفرلك عماله خاصه بمشروعكم
    </p>
  </div>
  <div class="col-12 py-2 py-lg-4 px-3 col-md-6 d-flex align-items-center">
    <img class="ms-4" src="../../assets/shared/rect.svg">
    <p class="services-text-big">
      متخصصين في كول سنتر المطاعم
        </p>
  </div>
  <div class="col-12 py-2 py-lg-4 px-3 col-md-6 d-flex align-items-center">
    <img class="ms-4" src="../../assets/shared/rect.svg">
    <p class="services-text-big">
      تلي سيلز للشركات
            </p>
  </div>
  <div class="col-12 py-2 py-lg-4 px-3 col-md-6 d-flex align-items-center">
    <img class="ms-4" src="../../assets/shared/rect.svg">
    <p class="services-text-big">
      .خدمه تشكيل كافه التقارير
        </p>
  </div>
  <div class="col-12 py-2 py-lg-4 px-3 col-md-6 d-flex align-items-center">
    <img class="ms-4" src="../../assets/shared/rect.svg">
    <p class="services-text-big">
      .خدمة تجهيز مركز الاتصال
      </p>
  </div>
  <div class="col-12 py-2 py-lg-4 px-3 col-md-6 d-flex align-items-center">
    <img class="ms-4" src="../../assets/shared/rect.svg">
    <p class="services-text-big">
      .بناء شجره الرد الآلي
        </p>
  </div>
  <div class="col-12 py-2 py-lg-4 px-3 col-md-6 d-flex align-items-center">
    <img class="ms-4" src="../../assets/shared/rect.svg">
    <p class="services-text-big">
      خدمه اختيار الموظف الشامل المتفرع    </p>
  </div>
  <div class="col-12 py-2 py-lg-4 px-3 col-md-6 d-flex align-items-center">
    <img class="ms-4" src="../../assets/shared/rect.svg">
    <p class="services-text-big">
      خدمه عملاء العيادات الطبية والتجميلية   </p>
  </div>
  <div class="col-12 py-2 py-lg-4 px-3 col-md-6 d-flex align-items-center">
    <img class="ms-4" src="../../assets/shared/rect.svg">
    <p class="services-text-big">
      .خدمة الإشراف الفني والإداري   </p>
  </div>
  <div class="col-12 py-2 py-lg-4 px-3 col-md-6 d-flex align-items-center">
    <img class="ms-4" src="../../assets/shared/rect.svg">
    <p class="services-text-big">
      .خدمه تدريب الموظفين علي اعلي مستوي يليق بأسم علامتك التجاريه   </p>
  </div>
</div>
</div>
</section>
<section class="our-services" dir="ltr" *ngIf="currentLang === 'en'">
  <div class="container">
  <h2 class="section-header my-4">
    Our Services
  </h2 >
<p class="services-text text-center">
  <img src="../../assets/shared/dot.svg">
  Our employees are of the highest quality and efficiency. You can rely on us to communicate with customers, as the company provides integrated services throughout the week and 24 hours a day.
</p>
<p class="services-text text-center">
  <img src="../../assets/shared/dot.svg">
  The service of providing employees and appropriate systems for all businesses
You are undoubtedly facing these problems and more in your company, but our services in Ezhalha will help you to avoid them completely.
</p>

<div class="row mt-lg-5 mt-3 py-lg-5 py-3">
  <div class="col-12 py-2 py-lg-4 px-3 col-md-6 d-flex align-items-center">
    <img class="ms-4" src="../../assets/shared/rect.svg">
    <p class="services-text-big">
      We are able to provide you with workers for your project
    </p>
  </div>
  <div class="col-12 py-2 py-lg-4 px-3 col-md-6 d-flex align-items-center">
    <img class="ms-4" src="../../assets/shared/rect.svg">
    <p class="services-text-big">
      Specializing in Call Center Restaurants
        </p>
  </div>
  <div class="col-12 py-2 py-lg-4 px-3 col-md-6 d-flex align-items-center">
    <img class="ms-4" src="../../assets/shared/rect.svg">
    <p class="services-text-big">
      Corporate telesales
            </p>
  </div>
  <div class="col-12 py-2 py-lg-4 px-3 col-md-6 d-flex align-items-center">
    <img class="ms-4" src="../../assets/shared/rect.svg">
    <p class="services-text-big">
      Service formation of all reports
        </p>
  </div>
  <div class="col-12 py-2 py-lg-4 px-3 col-md-6 d-flex align-items-center">
    <img class="ms-4" src="../../assets/shared/rect.svg">
    <p class="services-text-big">
      Call center processing service
          </p>
  </div>
  <div class="col-12 py-2 py-lg-4 px-3 col-md-6 d-flex align-items-center">
    <img class="ms-4" src="../../assets/shared/rect.svg">
    <p class="services-text-big">
      Build an autoresponder tree
    </p>
  </div>
  <div class="col-12 py-2 py-lg-4 px-3 col-md-6 d-flex align-items-center">
    <img class="ms-4" src="../../assets/shared/rect.svg">
    <p class="services-text-big">
      Comprehensive employee selection service
    </p>
  </div>
  <div class="col-12 py-2 py-lg-4 px-3 col-md-6 d-flex align-items-center">
    <img class="ms-4" src="../../assets/shared/rect.svg">
    <p class="services-text-big">
      Customer service for medical and cosmetic clinics
    </p>
  </div>
  <div class="col-12 py-2 py-lg-4 px-3 col-md-6 d-flex align-items-center">
    <img class="ms-4" src="../../assets/shared/rect.svg">
    <p class="services-text-big">
      Technical and administrative supervision service
    </p>
  </div>
  <div class="col-12 py-2 py-lg-4 px-3 col-md-6 d-flex align-items-center">
    <img class="ms-4" src="../../assets/shared/rect.svg">
    <p class="services-text-big">
      Staff training service at the highest level befitting your brand name
   </p>
  </div>
</div>
</div>
</section>
